@using  eshop.Areas.user.Controllers;
@model Product

@{
    ViewData["Title"] = "Product Detail";
    var overallRating = ViewBag.Message;
}
@section Styles{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/css/shop_template.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/css/shop_template.css">
    </environment>
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3" style="width: 25%">
            <h1 class="my-4">Product detail</h1>
        </div>
        <!-- /.col-lg-3 -->


        <div class="col-lg-4 col-md-6 mb-4" style="width: 75%">
            <div class="card h-100" style="width: 100%">
                <img class="card-img-top img-responsive" src="@Model.ImageSrc" alt="@Model.ImageAlt">
                <div class="card-body">
                    <h2 class="card-title">
                        <label asp-for="@Model.ProductName" id="productName">@Model.ProductName</label>
                    </h2>
                    <h4> <label asp-for="@Model.Price">@Model.Price Kč</label></h4>

                    @if (User.Identity.IsAuthenticated == true)
                    {<form asp-action="Rating">
                            <div style="flex-direction:row">
                                <div class="rating" style="width:80%">
                                    <input type="radio" name="star5" id="star5"><label for="star5"></label>
                                    <input type="radio" name="star4" id="star4"><label for="star4"></label>
                                    <input type="radio" name="star3" id="star3"><label for="star3"></label>
                                    <input type="radio" name="star2" id="star2"><label for="star2"></label>
                                    <input type="radio" name="star1" id="star1"><label for="star1"></label>
                                    <input name="NameUser" value="@User.Identity.Name">
                                    <input name="idProduct" value="@Model.ID" />
                                </div>
                                <div style="width:20%; margin-left:75%">
                                    <input type="submit" class="btn btn-success" id="starBtn" value="Rate">
                                </div>
                            </div>
                        </form>
                    }
                </div>
                <div>
                    <h4>Overall rating of this products: @overallRating</h4>

                </div>
            </div>
        </div>


        <form asp-action="Buy" asp-route-id="@Model.ID" enctype="multipart/form-data" method="post">
            <div class="col-lg-4 col-md-6 mb-4" style="width: 100%">
                <div class="card h-100" style="width: 100%">
                    <div class="card-body">

                        <p><label asp-for="@Model.Description">@Model.Description</label></p>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                        <hr>
                    </div>


                    <div>

                        <!-- <label for="quantity">Quantity</label>
                        <input type="number" style="width: 40px" id="quantity" name="quantity" min="1" max="5" value="1">-->
                        <br />
                        <input type="button" class="btn-success" value="Buy" style="font-size:1.5em"
                               onclick="Buy(@Model.ID,'@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "User" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')" />

                    </div>
                </div>
            </div>
        </form>

    </div>

</div>


@section Scripts {
    <environment include="Development">
        <script src="~/js/Product.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Product.min.js"></script>
    </environment>
}